---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'Position', href: '#about' },
        { text: 'Timeline', href: '#resume' },
      ]}
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Oliver Harrison"
    tagline="Harri818"
  >
    <Fragment slot="subtitle">
      Design Portfolio <br />
    </Fragment>
  </Hero>

  <Content
  image = {{
    src: '~/assets/images/position.png',
    alt: 'Oliver Harrison',
    sizes="(max-width: 640px) 100vw, (max-width: 768px) 80vw, 60vw",
    style: { width: 'auto', height: '100%', objectFit: 'contain' },
  
  }}>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Position</h3>
      <p>
        I am a passionate problem solver who uses an indepth understanding of physics principles and knack for programing to create innovative solutions to complex problems. 
      </p>
      <br />

      <p>
        My view on engineering design has evolved over the course of Praxis II. Oringinally I viewed my design philosophy as an avoidence of a narrow mind set, this is visable in my position statement, all my visualizations are done to impact this fact.
        I belive now however that my design philosophy is more about the creation of a new world, a world that is better than the one we have now. This shift came from the realization that the world we live in is not perfect, and that it is the job of the engineer to make it better.   
      </p>
      <br />
    </Fragment>
  </Content>


  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Design Experience"
    subtitle="Here's a brief overview of my design experience and the projects I've worked on."
    items={[
        {
        title:
          'University of Toronto Aerospace Team <br /> <span class="font-normal">Rocketry Simulation</span> <br /> <span class="text-sm font-normal">Sem 1</span>',
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Praxis I<br /> <span class="font-normal">The Hydroguard</span> <br /> <span class="text-sm font-normal">Sem 1</span>',
        icon: 'tabler:briefcase',
      },
      {
        title:
          'CIV 102 <br /> <span class="font-normal">The Brick</span> <br /> <span class="text-sm font-normal">Sem 1</span>',
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Individual <br /> <span class="font-normal">Guillotine</span> <br /> <span class="text-sm font-normal">Winter Break</span>',
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Praxis II <br /> <span class="font-normal">???</span> <br /> <span class="text-sm font-normal">Sem 2</span>',
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Content Widget **************** -->

  <Content
    id="project1"
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Simulated the aerodynamic performance of a rocket using computational fluid dynamics (CFD) software. Analyzed the rocket’s stability and optimized its design to improve its flight performance.',
      },
      {
        title: 'Role:',
        description:
          'Integrated the CAD models of the rocket into the CFD software and conducted simulations to analyze the airflow around the rocket. Collaborated with the aerodynamics team to optimize the rocket’s design based on the simulation results. Presented the findings to the team and implemented the design changes.',
      },
    ]}
    image={{
      src: '~/assets/images/image.png',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '/projects/project1',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">University of Toronto Aerospace Team <br />Division of Rocketry</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    id="project2"
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'As part of my praxis I team, developed a consept and several low fidelity prototypes to demonstrate the validity of the consept.',
      },
      {
        title: 'Role:',
        description: `Contributed my expertise in various simulation methods and analytical process to help validate and refine the consept.`,
      },
    ]}
      image={{
        src: '~/assets/images/hydroguard.png',
        alt: 'Art and Music Poster Image',
      }}
      callToAction={{
        text: 'Go to the project',
        icon: 'tabler:chevron-right',
        href: '/homes/projects/project2',
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
          Project 2: <br /><span class="text-2xl">The Hydroguard</span>
        </h3>
      </Fragment>

      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Content>

    <!-- Content Widget **************** -->

    <Content
      isReversed
      id="project3"
      isAfterContent={true}
      items={[
        {
          title: 'Description:',
          description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
        },
        {
          title: 'Role:',
          description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
        },
      ]}
      image={{
        src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
        alt: 'Fashion e-commerce Image',
    }}
      callToAction={{
        text: 'Go to the project',
        icon: 'tabler:chevron-right',
        href: '/homes/projects/project3',
      }}
    >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
